
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 50px;
  padding-bottom: 50px;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 950px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  text-align: center;
  padding: 17% 0;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 950px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 950px;
}

#content {
  text-align: center;
  padding-top: 14%;
  padding-bottom: 13%;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
         0px 8px 13px rgba(0,0,0,0.1),
         0px 18px 23px rgba(0,0,0,0.1);
}

#content h1 {
  font-weight: 700;
  font-size: 5em;
  color: white;
}

#content hr {
  width: 400px;
  border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

/* SEARCH PAGE CSS
-------------------------------------------------- */
.jumbotron h1{
  font-weight: 700;
  font-size: 5em;
  color: white;
}

.jumbotron p{
  color: white;
}

.search-form {
   text-align: center;
      color:black;
}

.search-form input,select{
   padding: 0.7em;
   border-radius: 8px;
   margin-top: 1em;
   margin-left: 0.5em;
   margin-right: 0.5em;
}

.sitter-btn {
  padding: 0.7em;
  border-radius: 8px;
  margin-top: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 0px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  black;;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:   black;;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  black;;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   black;;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}
